/* jeopardy background styles */
body {
    background-image: url("images/jeopardy\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
}

