/* jeopardy background styles */
body {
    /* display: flex; */
    background-image: url("images/jeopardy\ background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
}

/* div {
    background-color: white;
} */

/* arranging the jeopardy boxes */
.game-container {
    display: inline-grid;
    grid-gap: 10px 10px;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    justify-items: stretch;
    /* align-items: center;  */
    margin: 10vh 7vw;
}

.grid-item {
    background-color: white;
    /* justify-self: stretch;
    align-self: stretch; */
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3) inset;
    
}

.question-tile {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.grid-item:not(.question-tile) {
    font-family: 'Creepster', cursive;
    font-size: 30px;
    color: rgb(185, 21, 21);
    text-shadow: 2px 2px #4d0202
}

#timer {
    grid-column: 1 / span 1;
}

#title {
    grid-column: 2 / span 3;
}

#score {
    grid-column: 5 / span 1;
}

.answer-field {
    grid-area: 8 / 1 / 8 / 6;
}

.border {
    background-color: gray;
}


/* styling the pop up window with the winner message */
#winnerMessage {
    position: absolute;
    top: 35vh;
    left: 32vw;
    padding: 10px;
    border: 1px solid black;
    min-width: 10vw;
    min-height: 10vh;
    background-color: rgb(166, 241, 95);
    z-index: 1;
    display: inline-block;
    display: none;
    border-radius: 15px;
}

#winnerMessage:hover {
    border: 2px solid white;
}

#loserMessage {
    position: absolute;
    top: 35vh;
    left: 26vw;
    padding: 10px;
    border: 1px solid black;
    min-width: 10vw;
    min-height: 10vh;
    background-color: rgb(245, 58, 58);
    z-index: 1;
    display: inline-block;
    display: none;
    border-radius: 15px;
}


#loserMessage:hover {
    border: 2px solid white;
}

#messageContent {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

button {
    margin: 5px;
}